.header {
  &__top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-block: 13px;
    gap: 16px;
    align-items: center;

    @include on-desktop {
      padding-block: 16px;
    }
  }

  &__logo {
    width: 60px;
    height: 20.8px;

    @include on-desktop {
      width: 80px;
      height: 27px;
    }
  }

  &__right {
    @include on-phone {
      display: none;
    }

    &--cart {
      height: 14px;
      padding-left: 16px;

      @include on-desktop {
        padding-left: 24px;
      }
    }

    &--fav {
      height: 14px;
      padding-inline: 16px;
      position: relative;

      @include on-desktop {
        padding-inline: 24px;
      }

      &::before {
        content: '';
        position: absolute;
        top: -16px;
        left: 0;
        height: 51px;
        width: 1px;
        box-shadow: -1px 0 0 0 #e2e6e9;

        @include on-desktop {
          top: -23px;
          height: 63px;
        }
      }

      &::after {
        content: '';
        position: absolute;
        top: -16px;
        right: 0;
        height: 51px;
        width: 1px;
        box-shadow: -1 0 0 0 #e2e6e9;

        @include on-desktop {
          top: -23px;
          height: 63px;
        }
      }
    }

    @include on-tablet {
      display: flex;
    }
  }

  &__icon {
    display: block;
    position: relative;

    &::after {
      content: '';
      display: flex;
      top: -20px;
      flex-direction: row;
      position: absolute;
      height: 56px;
      left: -16px;
      width: 100%;
      box-shadow: -1px 0 0 0 #e2e6e9;
    }

    @include on-tablet {
      display: none;
    }
  }

  &__line {
    height: 1px;
    box-shadow: 0 1px 0 0 #e2e6e9;
  }

  &__nav {
    @include on-phone {
      display: none;
    }

    @include on-tablet {
      display: block;
    }

    &--list {
      display: flex;
      gap: 32px;

      @include on-desktop {
        gap: 64px;
      }
    }
  }
}

.nav {
  &__link {
    font-weight: 600;
    font-size: 12px;
    line-height: 11px;
    letter-spacing: 4%;
    color: $main-nonactive-page;
  }

  &__item {
    position: relative;
  }
}

.is-active-page {
  color: $main-color-text;

  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -16px;
    background-color: $main-color-text;
    height: 2px;
    width: 100%;
  }
}
