.icon {
  height: 8.5px;
  width: 14px;
  display: block;
  background-repeat: no-repeat;
  background-size: cover;

  &--menu {
    background-image: url(../image/icons/icon-menu.svg);

    @include on-desktop {
      display: none;
    }
  }
}
